<mat-card class="product-card">
  <img
    mat-card-image
    src="https://www.pratafina.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/u/pulseira_0578.jpg"
    alt="Imagem de produto" />
  <mat-card-content class="product-card__content text-center m-0">
    <h2 class="mb-3">Pulseira de Prata Bali - 20cm</h2>
    <span>R$ 989,00</span>
    <button class="mt-3 w-100" color="primary" mat-raised-button>
      Visualizar
    </button>
  </mat-card-content>
</mat-card>
