<main
  *ngIf="{
    products: (products$ | async),
    filters: (filters$ | async)
  } as data">
  <div class="container vs-3">
    <div
      class="d-flex align-items-center justify-content-between mb-4 flex-wrap">
      <h3 class="me-2 mb-0">Nossos produtos</h3>
      <div class="d-flex align-items-center justify-content-end my-3">
        <button
          [disabled]="data.filters?.isLoading || data.filters?.error"
          (click)="showSearchFilterSidenav()"
          mat-mini-fab
          aria-label="Botão com ícone de menu">
          <mat-icon>filter_list</mat-icon>
        </button>
        <button
          class="ms-3"
          (click)="redirectToProductStore()"
          mat-mini-fab
          aria-label="Botão com ícone adição">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div
      *ngIf="!data.products?.isLoading && !data.products?.error"
      class="products row">
      <div
        *ngFor="let product of data.products?.data"
        class="col-12 col-md-6 col-xl-4">
        <app-product-card
          (click)="redirectToProduct(product.id)"
          [product]="product"
          class="products__card"></app-product-card>
      </div>
    </div>
    <app-loader *ngIf="data.products?.isLoading"></app-loader>
    <p
      *ngIf="!data.products?.isLoading && productsErrorMessage"
      class="text-center">
      {{ productsErrorMessage }}
    </p>
  </div>
</main>
