<main class="container pt-5">
  <div class="row align-items-center w-100 mb-4">
    <div class="col-9 col-lg-12">
      <h4 class="m-0">Nossos produtos</h4>
    </div>
    <div class="col-3 d-flex d-lg-none justify-content-end">
      <button
        (click)="showFilterSidenav()"
        mat-mini-fab
        color="primary"
        aria-label="Botão com ícone de menu"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!(shouldShowFilterSidenav() | async)" class="col-lg-3">
      <mat-card class="filter-card">
        <mat-card-title class="filter-card__title">Filtros</mat-card-title>
        <mat-card-content>
          <mat-selection-list>
            <mat-list-option
              color="primary"
              *ngFor="let option of ['Anel', 'Brinco', 'Pulseira']"
            >
              {{ option }}
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div
          *ngFor="let value of [1, 2, 3, 4, 5, 6]"
          class="col-12 col-md-6 col-xl-4 mb-3"
        >
          <app-product-card></app-product-card>
        </div>
      </div>
    </div>
  </div>
</main>
