.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter-card {
  position: sticky;
  // MEDIDA TOP NECESSÁRIA PARA O FILTER CARD NAO SER "ENGOLIDO" PELO NAVBAR
  top: 80px;
  &__title {
    font-size: 18px;
  }
}
