@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
.container {
  .filter-card {
    position: sticky;
    // MEDIDA TOP NECESSÃRIA PARA O FILTER CARD NAO SER "ENGOLIDO" PELO NAVBAR
    top: 80px;
    &__content {
      text-transform: capitalize;
    }
    &__title {
      font-size: 18px;
    }
  }
  .products {
    .row > * {
      margin-bottom: 1rem;
    }
    .row > *:nth-last-child(-n + 1) {
      margin-bottom: 0px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .container {
    .product-cards {
      .row > *:nth-last-child(-n + 3) {
        margin-bottom: 0px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .container {
    .product-cards {
      .row > *:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }
  }
}
