@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $warn-palette: map.get($color-config, 'warn');
  .form-error {
    color: mat.get-color-from-palette($warn-palette, text);
  }
}

@mixin theme($theme) {
  @include color($theme);
}
