@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $accent-palette: map.get($color-config, 'accent');
  .navbar {
    background-color: mat.get-color-from-palette($accent-palette, A100);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @include color($theme);
}
