//VS-X -> ESPAÇAMENTO VERTICAL UTILIZADO ENTRE CONTAINERES
.vs-1 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.vs-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.vs-3 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.vs-4 {
  padding-top: (2 * 75px);
  padding-bottom: 75px;
}

//ESPAÇAMENTO VERTICAL INICIAL USADO PARA DESCONTAR 80PX (TAMANHO DA NAVBAR)
.ivs {
  padding-top: 80px;
}
