.container {
  .product-content {
    &__topic {
      font-size: 14px;
      margin-bottom: 0.5rem;
    }

    &__price {
      font-size: 20px;
      margin: 1.5rem 0;
    }
    &__sizes {
      font-size: 14px;
      margin: 0;
    }
  }
}
