.logo {
  background-image: url('../../../../assets/img/main-logo.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  button {
    font-size: 20px;
  }
}
