<mat-form-field class="w-100" appearance="outline">
  <mat-label>Tamanhos</mat-label>
  <mat-chip-list #sizeList aria-label="Lista de tamanhos">
    <mat-chip *ngFor="let size of sizes" (removed)="remove(size)">
      {{ size }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      #sizeInput
      placeholder="Digite o tamanho"
      [matChipInputFor]="sizeList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)" />
  </mat-chip-list>
</mat-form-field>
