.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  mat-toolbar-row {
    height: fit-content;
  }
  &__search {
    img {
      cursor: pointer;
      width: 64px;
    }
    mat-form-field {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

mat-icon {
  font-size: 22px !important;
}
