<nav *ngIf="{ isAuthenticated: (isAuthenticated$ | async) } as data">
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <div
        class="navbar__search d-flex justify-content-evenly align-items-center w-100">
        <img
          (click)="redirectToHome()"
          src="../../../../assets/img/logo.png"
          alt="Logo Unike Pratas" />
        <mat-form-field
          class="me-1 w-50"
          floatLabel="never"
          appearance="legacy">
          <mat-label>Pesquisar</mat-label>
          <input [formControl]="searchControl" matInput type="text" />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <div class="d-none d-lg-block">
          <button class="me-2" mat-stroked-button>Produtos</button>
          <button class="me-2" mat-stroked-button>Serviços</button>
          <button class="me-2" mat-stroked-button>Contato</button>
          <button
            *ngIf="!data.isAuthenticated"
            (click)="redirectToLogin()"
            mat-stroked-button>
            Funcionário
          </button>
          <button
            *ngIf="data.isAuthenticated"
            (click)="redirectToLogin()"
            mat-stroked-button>
            Sair
          </button>
        </div>
        <div class="d-block d-lg-none">
          <button
            (click)="showSidenav()"
            mat-mini-fab
            aria-label="Botão com ícone de menu">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
