<nav>
  <mat-toolbar class="navbar">
    <mat-toolbar-row class="row flex-nowrap">
      <div class="navbar__search d-flex col-6 col-sm-8">
        <img src="../../../../assets/img/logo.png" alt="Logo Unike Pratas" />
        <mat-form-field
          class="ms-1 ms-sm-2 w-100"
          floatLabel="never"
          appearance="legacy"
        >
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="navbar__options d-none d-lg-flex col justify-content-end">
        <button class="me-2" mat-raised-button color="primary">Produtos</button>
        <button class="me-2" mat-raised-button color="primary">Serviços</button>
        <button mat-raised-button color="primary">Contato</button>
      </div>
      <div class="d-flex d-lg-none col justify-content-end">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Botão com ícone de menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
