<section class="login">
  <div class="container d-flex align-items-center h-100">
    <div class="row justify-content-center w-100">
      <div class="col-12 col-md-9 col-lg-6">
        <mat-card class="login-card">
          <mat-card-header class="login-card__header row w-100">
            <div class="col-12 d-flex justify-content-center">
              <img
                src="../../../../../assets/img/logo.png"
                alt="Logo Unike Pratas" />
            </div>
            <div class="col-12 d-flex justify-content-center">
              <mat-card-title class="text-center w-100"
                >Acesso Restrito</mat-card-title
              >
            </div>
          </mat-card-header>
          <mat-card-content class="login-card__content">
            <form [formGroup]="form" class="row" (submit)="login()">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Digite seu email</mat-label>
                  <input
                    autocomplete="email"
                    formControlName="email"
                    matInput />
                  <mat-error *ngIf="formErrors['email']">
                    {{ formErrors['email'] }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Digite sua senha</mat-label>
                  <input
                    autocomplete="current-password"
                    type="password"
                    formControlName="password"
                    matInput />
                  <mat-error class="mb-2" *ngIf="formErrors['password']">
                    {{ formErrors['password'] }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-end col-12 mt-3">
                <button
                  (click)="redirectToHome()"
                  type="button"
                  mat-raised-button
                  color="primary">
                  Voltar
                </button>
                <button
                  class="ms-3"
                  type="submit"
                  [disabled]="form.disabled || form.invalid"
                  mat-raised-button
                  color="primary">
                  Confirmar
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
