<mat-sidenav-container [autosize]="true" [hasBackdrop]="true">
  <mat-sidenav
    #menuSidenav
    [autoFocus]="false"
    [fixedInViewport]="true"
    mode="over"
    position="end"
    class="menu-sidenav">
    <div class="d-flex flex-column p-3">
      <button class="mb-3" mat-raised-button color="primary">
        <div class="d-flex align-items-center">
          <mat-icon
            svgIcon="product"
            class="d-flex me-2"
            aria-hidden="false"
            aria-label="Ícone de produto"></mat-icon>
          <span>Produtos</span>
        </div>
      </button>

      <button class="mb-3" mat-raised-button color="primary">
        <div class="d-flex align-items-center">
          <mat-icon
            svgIcon="services"
            class="d-flex me-2"
            aria-hidden="false"
            aria-label="Ícone de serviço"></mat-icon>
          <span>Serviços</span>
        </div>
      </button>

      <button class="mb-3" mat-raised-button color="primary">
        <div class="d-flex align-items-center">
          <mat-icon
            class="me-2"
            aria-hidden="false"
            aria-label="Ícone de contato"
            >person_outline</mat-icon
          >
          <span>Contato</span>
        </div>
      </button>

      <button
        (click)="redirectToLogin()"
        *ngIf="(authFacade.selectIsAuthenticated() | async) === false"
        class="mb-3"
        mat-raised-button
        color="primary">
        <div class="d-flex align-items-center">
          <mat-icon
            svgIcon="signin"
            class="d-flex me-2"
            aria-hidden="false"
            aria-label="Ícone de área restrita"></mat-icon>
          <span>Funcionário</span>
        </div>
      </button>

      <button
        *ngIf="authFacade.selectIsAuthenticated() | async"
        class="mb-3"
        mat-raised-button
        color="primary">
        <div class="d-flex align-items-center">
          <mat-icon
            class="me-2"
            aria-hidden="false"
            aria-label="Ícone de logout"
            >logout</mat-icon
          >
          <span>Sair</span>
        </div>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav
    #productFilterSidenav
    class="product-filter-sidenav"
    [autoFocus]="false"
    [fixedInViewport]="true"
    mode="over"
    position="start">
    <div class="product-filter-sidenav__filter p-3">
      <span>Filtros</span>
      <mat-selection-list>
        <mat-list-option
          color="primary"
          *ngFor="let option of ['Anel', 'Brinco', 'Pulseira']">
          {{ option }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
