<mat-sidenav-container [autosize]="true" [hasBackdrop]="true">
  <mat-sidenav
    #menuSidenav
    [autoFocus]="false"
    [fixedInViewport]="true"
    mode="over"
    position="end"
    class="menu-sidenav">
    <div class="d-flex flex-column p-3">
      <button
        class="d-flex align-items-center w-100 mb-3"
        mat-raised-button
        color="primary">
        <mat-icon class="me-2" aria-hidden="false" aria-label="Ícone de bolsa"
          >local_mall</mat-icon
        >
        <span>Produtos</span>
      </button>
      <button
        class="d-flex align-items-center mb-3"
        mat-raised-button
        color="primary">
        <mat-icon
          class="me-2"
          aria-hidden="false"
          aria-label="Ícone de trabalho"
          >engineering</mat-icon
        >
        <span>Serviços</span>
      </button>
      <button
        class="d-flex align-items-center w-100 mb-3"
        mat-raised-button
        color="primary">
        <mat-icon class="me-2" aria-hidden="false" aria-label="Ícone de contato"
          >contact_page</mat-icon
        >
        <span>Contato</span>
      </button>
      <button
        class="d-flex align-items-center w-100"
        mat-raised-button
        color="primary">
        <mat-icon class="me-2" aria-hidden="false" aria-label="Ícone de contato"
          >lock_person</mat-icon
        >
        <span>Funcionário</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav
    #productFilterSidenav
    class="product-filter-sidenav"
    [autoFocus]="false"
    [fixedInViewport]="true"
    mode="over"
    position="start">
    <div class="product-filter-sidenav__filter p-3">
      <span>Filtros</span>
      <mat-selection-list>
        <mat-list-option
          color="primary"
          *ngFor="let option of ['Anel', 'Brinco', 'Pulseira']">
          {{ option }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
