.header-img {
  background-image: url(../../../assets/img/header.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  button {
    font-size: 20px;
  }
  .container {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
