body {
  //MARGIN TOP PARA DESCONTAR ALTURA DA NAVBAR COM POSITION ABSOLUTE
  margin: 80px 0px 0px 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// OVERFLOW VISIBLE (DEFAULT) PARA POSSIBILITAR O POSITION STICKY DOS FILTROS
.mat-drawer-content {
  overflow: visible !important;
}
