@import './global/spacing.scss';
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//OVERFLOW VISIBLE (DEFAULT) PARA POSSIBILITAR O POSITION STICKY DOS FILTROS
.mat-drawer-container,
.mat-drawer-content {
  background-color: #fff;
  overflow: visible !important;
}
