@import './styles/global/spacing';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
* {
  font-family: 'Roboto';
}

//OVERFLOW VISIBLE (DEFAULT) PARA POSSIBILITAR O POSITION STICKY DOS FILTROS
.mat-drawer-container,
.mat-drawer-content {
  background-color: #fff;
  overflow: visible !important;
}

//REMOVE PADDING BOTTOM DO SEARCH INPUT -> NAVBAR
.navbar__search__input {
  .mat-form-field-wrapper {
    padding-bottom: 0rem;
  }
}
