@use 'sass:map';
@use '@angular/material' as mat;
@use './utils/typography' as typography;
@use './components/navbar-theme' as navbar;

@include mat.core();

$primary-palette: mat.define-palette(mat.$grey-palette, 900);
$accent-palette: mat.define-palette(mat.$grey-palette, A100);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
  )
);

//Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($custom-theme);
//Emit theme to all the components
@include mat.all-component-themes($custom-theme);

//Custom Typography Classes
@include typography.theme($custom-theme);
//Custom Navbar Theme
@include navbar.theme($custom-theme);
